Pick a spot in the text and click "Insert Footnote". Click the footnote text to edit your new footnote. Insert another footnote or a new textbox. Each new footnote will be re-ordered to match its spot in the text. Delete the annotation in the text and the associated footnote will be deleted. Edit your footnote text and then hover over its annotation to see your footnote. 
<br/><br/>
<app-textbox *ngFor="let element of elements" [element]="element"></app-textbox>

<button (mousedown)="addTextBox()">New TextBox</button>

<div *ngIf="footnotes.length > 0">
  <br/>
  Footnotes: 
  <hr/>
  <app-footnote *ngFor="let footnote of footnotes" [element]="footnote"></app-footnote>
</div>
